<crud-page-header [options]="pageHeaderOptions" ></crud-page-header>
<div>
  <form class="location-form" (ngSubmit)="onSubmit()" novalidate #thisForm="ngForm">
    <div class="form-group">
      <label class="center-block">Category Name:
        <input type="text" class="form-control" [(ngModel)]="category.Name" id="name" name="categoryname" #Name="ngModel">
      </label>
      <div [hidden]="Name.valid || Name.pristine"
           class="alert alert-danger">
            Category name is required.
      </div>
    </div>
    <button class="btn btn-primary">Save</button>
  </form>
</div>
