<crud-page-header [options]="pageHeaderOptions" ></crud-page-header>
<!-- <div>
  <table class="table">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let category of categories;let i=index">
      <td>{{category.Name}}</td>
      <td><a [routerLink]="['/categories',category.UID]">Edit</a></td>
      <td><a (click)="deleteCategory(category.UID)">Delete</a></td>
    </tr>
  </table>
</div> -->

<!-- <ag-grids style="width: 900px; height: 115px;" class="ag-fresh"
[gridOptions]="gridOptions" [rowData]="rowData"></ag-grids> -->
