<nav class="navbar navbar-default navbar-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">My Locations</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/locations" routerLinkActive="active" title="Locations">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="/categories" routerLinkActive="active" title="Categories">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="/formbuilder" routerLinkActive="active" title="FormBuilder">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="/changepass" routerLinkActive="active" title="ChangePassword">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
