<crud-page-header [options]="pageHeaderOptions" ></crud-page-header>
<!-- <div>{{pageHeaderOptions | json}}</div> -->
<div>
  <div class="container">
    <button class="btn btn-primary" (click)="groupByCategory()">{{isGrouped?'UnGroup By Category':'Group By Category'}}
    </button>
    <div *ngIf="!isGrouped">
      <h4>Filter With Category</h4>
      <div class="form-group">
        <select class="form-control"  #category  (change)="filterByCategory(category.value)">
          <option value="" selected>All</option>
          <option *ngFor="let option of categories" [value]="option.Name">{{option.Name}}</option>
        </select>
      </div>
    </div>
  </div>
  <!-- <table class="table">
    <tr>
      <th width="20%" (click)="sortData('name')">
        Name
        <i class="fa fa-sort-asc" *ngIf="sortObj.name=='asc'"></i>
        <i class="fa fa-sort-desc" *ngIf="sortObj.name=='desc'"></i>
      </th>
      <th width="20%" (click)="sortData('address')">
        Address
        <i class="fa fa-sort-asc" *ngIf="sortObj.address=='asc'"></i>
        <i class="fa fa-sort-desc" *ngIf="sortObj.address=='desc'"></i>
      </th>
      <th width="20%" (click)="sortData('category')">
        Category
        <i class="fa fa-sort-asc" *ngIf="sortObj.category=='asc'"></i>
        <i class="fa fa-sort-desc" *ngIf="sortObj.category=='desc'"></i>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let categoryGroup of categoryGroups">
      <td colspan="6" style="padding:0px">
        <div *ngIf="categoryGroup.locations" class="bg-primary text-white" style="padding:10px">
          <b>{{categoryGroup.locations.categoryName}}</b>
        </div>
        <table class="table" style="margin-bottom: 0px">
          <tr *ngFor="let location of categoryGroup.locations">
            <td width="20%">{{location.Name}}</td>
            <td width="20%">{{location.Address}}</td>
            <td width="20%">{{location.categoryName || ''}}</td>
            <td><a [routerLink]="['/locations',location.UID]">Edit</a></td>
            <td><a (click)="deleteLocation(location.UID)">Delete</a></td>
            <td><a (click)="viewInMap(location)">View In Map</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table> -->
</div>
<ag-grids style="width: 900px; height: 115px;" class="ag-fresh"
[options]="gridOptions">
</ag-grids>