/* You can add global styles to this file, and also import other style files */
/* The navigation bar */
.navbar.navbar-bottom{
  overflow: hidden;
  margin-bottom: 0px !important;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar.navbar-bottom a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Main content */
.main {
  margin-bottom: 70px; /* Add a top margin to avoid content overlay */
}


.navbar-default .navbar-nav>li>a.active,.navbar-default .navbar-header a.active{
  color: #555;
  background-color: #e7e7e7;
}

.dashboard .jumbotron{
  margin-top: 20px;
}

.location-form{
  padding:20px;
}

.location-form .alert{
  padding:6px 15px;
}
